# Игнорируем виртуальное окружение
.venv
venv
ENV

# Игнорируем кэш питона
__pycache__
*.pyc
*.pyo
*.pyd

# Игнорируем гитовую историю (ускоряет сборку)
.git
.gitignore

# Игнорируем настройки IDE
.vscode
.idea

# Игнорируем временные файлы сборки
build
dist
*.egg-info